body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #040e2b, #00050c); /* Deeper dark gradient background */
    color: #fff;

    
}

.Technologies-heading{
    text-align: center;
    font-size: 1.8rem;
    margin-top: 20px;
    color: #ffffff;
    font-weight: bold;
    margin: 35px 0;
}

.home {
    text-align: center;
   
}

.timer {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
}
.logo-container{
    background: rgba(255, 254, 254, 0.10);
    padding: 20px;
}
.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
     /* Semi-transparent white background */
}
.logos img {
    width: 50px;
    height: auto;
    transition: transform 0.3s;
}
@media (max-width: 768px) {
    .Technologies-heading {
        font-size: 1.5rem;
        margin: 25px 0;
    }

    .logos {
        flex-wrap: wrap;
        gap: 10px;
    }

    .logos img {
        width: 40px;
    }

    .timer {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .Technologies-heading {
        font-size: 1.2rem;
        margin: 20px 0;
    }

    .logos img {
        width: 30px;
    }

    .timer {
        font-size: 0.9rem;
    }
}